<div style="margin: 1em 0; border-bottom: 1px solid #aaa">
  <small>by <%= comment.user.name if comment.user %> on <%= comment.created_at %>
    <% if policy(comment).destroy? %>
    | <%= link_to "Delete", [@topic, @post, comment], method: :delete %>
    <% end %>
  </small>
  <br/>
  <%= comment.body %>
</div>
